// backgrounds and buttons
$main-background: #fff;
$primary-color: #278cd6;
$secondary-color: #0f3552;
$default-button: $primary-color;
$default-button-hover: lighten($primary-color, 20%);
$dark-button: $secondary-color;
$dark-button-hover: lighten($secondary-color, 20%);
$dark-input-color: #e8f4e5;
$bright-button: saturate($primary-color, 30%);
$secondary-background: lighten($bright-button, 20%);
$spacer-color: #efefef;
$third-background: #e6f2ff;

// text
$default-text: #333;
$button-text: #fff;
$thin-text-color: #000;
$error-color: #ff3e3e;
$link-color: #3063c9;

// page layout
$page-width: 960px;
$top-margin: 20px;
$box-padding: 40px;
$box-margin: 10px;

// all z-index definitions should go here - make sure to leave a decent gap between them
$z-index-tooltip: 1000;
$z-index-notification: 1100;
