@import '../../styles/variables';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  nav {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 10px;
  }

  a {
    text-decoration: none;
    color: #fff;
    background-color: $bright-button;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 12px;
    letter-spacing: 0.1rem;

    &:hover {
      opacity: 0.8;
    }

    &.alt {
      background-color: $dark-button;
    }
  }
}

.linkBox {
  width: ($page-width / 4) - ((2*$box-padding) + ($box-margin));
  padding: $box-padding;
  margin: 0px $box-margin $box-margin 0px;
  font-size: 1.4em;
  font-weight: 200;
}

.linkBoxAlt {
  background-color: $dark-button;
}
